@import './variables';
@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    @include flexMid();
}

.about-container img {
    width: 450px;
}

#about {
    padding: 2.8em;
    scroll-behavior: smooth;
    background-color: $bkgdColor;
}

.about-us {
    margin: 3em;
}

.about-us h4 {
    color: $blueColor;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.about-us h2 {
    font-size: 40px;
}

.about-us p {
    font-size: 20px;
}

.about-us h2,
p {
    font-family: 'Oswald', sans-serif;
}

.about-us button {
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
    background: $blueColor;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}