@import './variables';
@mixin navFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    @include navFlex();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(229, 229, 229);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 20px;
    z-index: 1000;
}

.logo {
    text-decoration: $noDecor;
    font-size: 30px;
    color: rgb(216, 188, 31);
    font-family: 'Noto Serif Display', serif;
}

.logo #st {
    color: rgb(19, 190, 190);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    display: inline-block;
}

header .navbar ul li a {
    font-size: 20px;
    display: block;
    text-decoration: $noDecor;
    color: rgb(12, 12, 12);
    padding: 20px;
}

header .navbar ul li a:hover {
    background: rgb(13, 73, 122);
    padding: 13px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    /* resets display */
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .btn {
    text-decoration: $noDecor;
    font-family: $headerFont;
    background: $blueColor;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

header .btn:hover {
    background: rgb(205, 209, 205);
    transition: all ease-in .3s;
}

#appoint {
    display: none;
}