@import './variables';
#services h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: $blueColor;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-container {
    @include flexCenter();
    margin-top: 30px;
    padding: 0 50px;
}

.service-container .service-img {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    // width: 40%;
}

.our-services {
    background-color: rgba(248, 248, 248, 0.459);
    width: 400px;
    height: 230px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(218, 218, 218, 0.767);
}

.our-services h4 {
    text-align: center;
    margin: 8px 0;
}

.our-services .serv-info {
    font-size: 14px;
    margin-top: 8px;
    margin: 5px;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-align: center;
}